<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> Dashboard </title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="/assets/css-biblio/assets-Admin/vendors/feather/feather.css">
        <link rel="stylesheet" href="/assets/css-biblio/assets-Admin/vendors/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="/assets/css-biblio/assets-Admin/vendors/ti-icons/css/themify-icons.css">
        <link rel="stylesheet" href="/assets/css-biblio/assets-Admin/vendors/typicons/typicons.css">
        <link rel="stylesheet" href="/assets/css-biblio/assets-Admin/vendors/simple-line-icons/css/simple-line-icons.css">
        <link rel="stylesheet" href="/assets/css-biblio/assets-Admin/vendors/css/vendor.bundle.base.css">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <link rel="stylesheet" href="/assets/css-biblio/assets-Admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="/assets/css-biblio/assets-Admin/js/select.dataTables.min.css">
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <link rel="stylesheet" href="/assets/css-biblio/assets-Admin/css/vertical-layout-light/style.css">
        <!-- endinject -->
        <link rel="shortcut icon" href="/assets/css-biblio/assets-Admin/images/favicon.png" />
      </head>
    <body>
        <div class="container-scroller"> 
            <!-- partial:partials/_navbar.html -->
            <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
              <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
                <div class="me-3">
                  <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
                    <span class="icon-menu"></span>
                  </button>
                </div>
                <div>
                 
                </div>
              </div>
              <div class="navbar-menu-wrapper d-flex align-items-top"> 
                
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
                  <span class="mdi mdi-menu"></span>
                </button>
              </div>
            </nav>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
              <!-- partial:partials/_settings-panel.html -->
              <div class="theme-setting-wrapper">
                <div id="settings-trigger"><i class="ti-settings"></i></div>
                <div id="theme-settings" class="settings-panel">
                  <i class="settings-close ti-close"></i>
                  <p class="settings-heading">SIDEBAR SKINS</p>
                  <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border me-3"></div>Light</div>
                  <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border me-3"></div>Dark</div>
                  <p class="settings-heading mt-2">HEADER SKINS</p>
                  <div class="color-tiles mx-0 px-4">
                    <div class="tiles success"></div>
                    <div class="tiles warning"></div>
                    <div class="tiles danger"></div>
                    <div class="tiles info"></div>
                    <div class="tiles dark"></div>
                    <div class="tiles default"></div>
                  </div>
                </div>
              </div>
            
              <!-- partial -->
              <!-- partial:partials/_sidebar.html -->
              <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                  <li class="nav-item active">
                    <a class="nav-link active" href="/assets/css-biblio/assets-Admin/index.html">
                      <i class="mdi mdi-grid-large menu-icon"></i>
                      <span class="menu-title">Dashboard</span>
                    </a>
                  </li>
                  <li class="nav-item nav-category">Pret</li>
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/pret/recherche-membre}">
                        <i class="menu-icon mdi mdi-file-document"></i>
                        <span class="menu-title">Faire un prêt</span>
                      </a>
                  </li>
                  <li class="nav-item nav-category">UI Elements</li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="/assets/css-biblio/assets-Admin/#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                      <i class="menu-icon mdi mdi-floor-plan"></i>
                      <span class="menu-title">UI Elements</span>
                      <i class="menu-arrow"></i> 
                    </a>
                    <div class="collapse" id="ui-basic">
                      <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="/assets/css-biblio/assets-Admin/pages/ui-features/buttons.html">Buttons</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/assets/css-biblio/assets-Admin/pages/ui-features/dropdowns.html">Dropdowns</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/assets/css-biblio/assets-Admin/pages/ui-features/typography.html">Typography</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item nav-category">Forms and Datas</li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="/assets/css-biblio/assets-Admin/#form-elements" aria-expanded="false" aria-controls="form-elements">
                      <i class="menu-icon mdi mdi-card-text-outline"></i>
                      <span class="menu-title">Form elements</span>
                      <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="form-elements">
                      <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" href="/assets/css-biblio/assets-Admin/pages/forms/basic_elements.html">Basic Elements</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="/assets/css-biblio/assets-Admin/#charts" aria-expanded="false" aria-controls="charts">
                      <i class="menu-icon mdi mdi-chart-line"></i>
                      <span class="menu-title">Charts</span>
                      <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="charts">
                      <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="/assets/css-biblio/assets-Admin/pages/charts/chartjs.html">ChartJs</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="/assets/css-biblio/assets-Admin/#tables" aria-expanded="false" aria-controls="tables">
                      <i class="menu-icon mdi mdi-table"></i>
                      <span class="menu-title">Tables</span>
                      <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="tables">
                      <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="/assets/css-biblio/assets-Admin/pages/tables/basic-table.html">Basic table</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="/assets/css-biblio/assets-Admin/#icons" aria-expanded="false" aria-controls="icons">
                      <i class="menu-icon mdi mdi-layers-outline"></i>
                      <span class="menu-title">Icons</span>
                      <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="icons">
                      <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="/assets/css-biblio/assets-Admin/pages/icons/mdi.html">Mdi icons</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item nav-category">pages</li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="/assets/css-biblio/assets-Admin/#auth" aria-expanded="false" aria-controls="auth">
                      <i class="menu-icon mdi mdi-account-circle-outline"></i>
                      <span class="menu-title">User Pages</span>
                      <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="auth">
                      <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="/assets/css-biblio/assets-Admin/pages/samples/login.html"> Login </a></li>
                      </ul>
                    </div>
                  </li>
                 
                </ul>
              </nav>
              <!-- partial -->
              <div class="main-panel">
                <div class="content-wrapper">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="home-tab">
                        <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                          <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="/assets/css-biblio/assets-Admin/#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="/assets/css-biblio/assets-Admin/#audiences" role="tab" aria-selected="false">Audiences</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="/assets/css-biblio/assets-Admin/#demographics" role="tab" aria-selected="false">Demographics</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link border-0" id="more-tab" data-bs-toggle="tab" href="/assets/css-biblio/assets-Admin/#more" role="tab" aria-selected="false">More</a>
                            </li>
                          </ul>
                          <div>
                            <div class="btn-wrapper">
                              <a href="/assets/css-biblio/assets-Admin/#" class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> Share</a>
                              <a href="/assets/css-biblio/assets-Admin/#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
                              <a href="/assets/css-biblio/assets-Admin/#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
                            </div>
                          </div>
                        </div>
                        <div class="tab-content tab-content-basic">
                          <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
                              
                            
                            <div class="row">
                              <div class="col-lg-12 d-flex flex-column">
                                <div class="row flex-grow">
                                  <div class="col-12 grid-margin stretch-card">
                                    <div class="card card-rounded">
                                      <div class="card-body">
                                        <div class="d-sm-flex justify-content-between align-items-start">
                                          <div>
                                            <h2 >Welcome</h2>
                                            <h4 class="card-title card-title-dash">Admin ID: <span th:text="${adminId}"></span></h4>
                                            <br>
                                            <br>

                                          </div>
                                          <div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="d-sm-flex align-items-center mt-1 justify-content-between">
                                          <!-- <div class="d-sm-flex align-items-center mt-4 justify-content-between"><h2 class="me-2 fw-bold">$36,2531.00</h2><h4 class="me-2">USD</h4><h4 class="text-success">(+1.37%)</h4></div> -->
                                          <div class="me-3"><div id="marketing-overview-legend"></div></div>
                                        </div>
                                        <div class="chartjs-bar-wrapper mt-3">
                                          <canvas id="marketingOverview"></canvas>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                               
                              </div>
                              
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                  <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="/assets/css-biblio/assets-Admin/https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
                  </div>
                </footer>
                <!-- partial -->
              </div>
              <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
          </div>
    

    <script src="/assets/css-biblio/assets-Admin/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/assets/css-biblio/assets-Admin/vendors/chart.js/Chart.min.js"></script>
  <script src="/assets/css-biblio/assets-Admin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="/assets/css-biblio/assets-Admin/vendors/progressbar.js/progressbar.min.js"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/assets/css-biblio/assets-Admin/js/off-canvas.js"></script>
  <script src="/assets/css-biblio/assets-Admin/js/hoverable-collapse.js"></script>
  <script src="/assets/css-biblio/assets-Admin/js/template.js"></script>
  <script src="/assets/css-biblio/assets-Admin/js/settings.js"></script>
  <script src="/assets/css-biblio/assets-Admin/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/assets/css-biblio/assets-Admin/js/dashboard.js"></script>
  <script src="/assets/css-biblio/assets-Admin/js/Chart.roundedBarCharts.js"></script>
  
</body>
</html>
