<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des livres les plus empruntés</title>
</head>
<body>
    <h1>Livre le plus emprunté</h1>
    <div th:if="${livrePlusEmprunte != null}">
        <p>ID : <span th:text="${livrePlusEmprunte.idLivre}"></span></p>
        <p>Titre : <span th:text="${livrePlusEmprunte.titre}"></span></p>
        <p>Auteur : <span th:text="${livrePlusEmprunte.nomAuteur}"></span></p>
        <p>Nombre d'emprunts : <span th:text="${livrePlusEmprunte.nombreEmprunts}"></span></p>
    </div>

    <h1>Liste des 10 livres les plus empruntés</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Nombre d'emprunts</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="livre : ${livresPlusEmpruntes}">
                <td th:text="${livre.idLivre}"></td>
                <td th:text="${livre.titre}"></td>
                <td th:text="${livre.nomAuteur}"></td>
                <td th:text="${livre.nombreEmprunts}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
