<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Livres</title>
</head>
<body>
    <h1>Liste des Livres de <span th:text="${test}"></span></h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>ISBN</th>
        </tr>
        <tr th:each="livre : ${livres}">
            <td th:text="${livre.id_livre}"></td>
            <td th:text="${livre.titre}"></td>
            <td th:text="${livre.ISBN}"></td>
        </tr>
    </table>

    <h1>Liste des Livres Collection</span></h1>
    <table>
        <tr>
            <th>Collection</th>
        </tr>
        <tr th:each="test : ${livreCols}">
            <td th:text="${test}">ok</td>
        </tr>
    </table>
</body>
</html>
